@keyframes blink {
  50% {
    opacity: 1;
  }
}

.app {
  padding: 5px 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.slot-machine {
  margin: 0 auto;
  padding: 10px 20px;
  width: 1000px;

  background: #999;
  border: 3px solid white;
  border-radius: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 3px 3px -2px;
}

.balance,
.spin-button {
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 0 20px;
  flex: 0 33%;
}

.balance {
  text-align: center;
  border: 3px solid gold;
}

.debug-panel {
  margin: 20px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.reel-item {
  flex: 0 33%;
}

.reels {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 20px;
}

.spin-button {
  cursor: pointer;
  background: red;
  color: white;
  border: 3px solid gold;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 3px 3px -2px;
}

.spin-button:active {
  box-shadow: none;
}

.spin-button:disabled {
  opacity: 0.5;
}

.win-line {
  position: absolute;
  width: 100%;
  height: 4px;
  background: red;
  opacity: 0;

  animation: blink 0.5s step-start 0s infinite;
}

.win-line_bottom {
  top: calc(80% - 2px);
}

.win-line_center {
  top: calc(50% - 2px);
}
.win-line_top {
  top: calc(20% - 2px);
}
